body {background-color: gainsboro;}

.blue-btn {
  color: white;
  background-color: blue;
  border: none;
  outline: darkblue;
  padding: 5px;
}

.create-top {
  width: 100%;
  background-color: gainsboro;
  margin-left: auto;
}

.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  flex-direction: column;
  width: 50%;
}

.time {
  color: gray;
  font-size: small;
}

.user-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post {
  width: 100%;
  background-color: white;
  padding: 10px;
  margin: 10px 0px;
}

.post-btn {
  width: 20px;
  height: 20px;
}

.post-create {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
  background-color: white;
}

.actions-pannel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions > li {
  border-right: 1px solid gainsboro;
  padding: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.post-text {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.svg {
  width: 15px;
  height: 15px;
  padding-right: 3px;
  border: none;
  background-color: transparent;
}
 
li {
  display: flex;
  align-items: center;
  margin: 5px;
}

.input-smile {
  position: absolute;
  right: -40px;
  top: 8px;
}

.input-area{
  position: relative;
}

.close {
  border: none;
  background-color: transparent;
}

.input-area {
  position: relative;
}

.input-icons {
  top: 25px;
  position: absolute;
  right: 5px;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 5px;
}

.photo-big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.post-btn {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  display: flex;
}

.post-btns {
  width: 100%;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
}

.inputArea {
  display: flex;
  position: relative;
}

.post-data {
  position: relative;
}
.edit-post {
  padding: 10px;
}
.edit-top {
  background-color: gainsboro;
  border-bottom: 1px gray solid;
  display: flex;
  justify-content: space-between;
}

.edit-bottom {
  background-color: gainsboro;
  border-top: 1px gray solid;
  margin-left: auto;
}

.edit-actions > li{
  background-color: gainsboro;
  border-radius: 15px;
}

.btn-wrapper > button{
  margin-right: 10px;
}

.btn-wrapper {
  display: flex;
}

.post-body {
  width: 100%;
  background-color: white;
}

.edit-post, .post-show {
  width: 50%;
  background-color: white;
  margin: 10px;
  padding: 15px;
}

.edit-actions li {
  flex-basis: calc(50% - 10px);
}

.edit-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0; 
}

.post-top {
  position: relative;
}