/* @import '~mdb-ui-kit/css/mdb.min.css'; */
body {
  background-color: gainsboro;
  padding: 15px;
  text-align: center;
}

.films {
  display: flex;
  flex-wrap: wrap;
}

.film {
  margin: 5px;
}

a {
  text-decoration: none;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

* {
  color: black;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.search {
height: 36px;
border-radius: 10% !important;  
}

.fav-btn {
  margin-left: 15px;
}
